<h1>Information Personal</h1>

<div class="container w-50">
    <div class="row">
        <div class="col-sm">
            <h5>Name:</h5>     
        </div>
        <div class="col-sm">
            <p>{{ userRef.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"> 
            <h5>Gender:</h5>    
        </div>
        <div class="col-sm">
            <p>{{ userRef.gender }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h5>Birthday Date:</h5>     
        </div>
        <div class="col-sm">
            <p>{{ userRef.date }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">   
            <h5>Status:</h5>  
        </div>
        <div class="col-sm">
            <p>{{ userRef.status }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">  
            <h5>Year Old:</h5>   
        </div>
        <div class="col-sm">
            <p>{{ userRef.year }}</p>
        </div>
    </div>
    <div class="row">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success m-1" (click)="updateItem()">Edit</button>
            <button class="btn btn-outline-danger m-1" (click)="deleteItem()">Delete</button>
            <button class="btn btn-outline-info m-1" (click)="returnList()">Return</button>
        </div>
    </div>
</div>