<div class="table-responsive">
  <table class="table table-hover"> 
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">Gender</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light" *ngFor="let p of person">
        <th scope="row">{{p.name}}</th>
        <td>{{p.year}}</td>
        <td>{{p.gender}}</td>
        <td class="bnt-group d-none d-sm-block" role="group">
          <button class="btn btn-outline-primary m-1" (click)="onGoToEdit(p.id)"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-info m-1" (click)="onGoToSee(p.id)"><i class="fa fa-eye"
              aria-hidden="true"></i></button>
          <button class="btn btn-outline-danger m-1" (click)="onGoToDelete(p.id)"><i class="fa fa-minus-circle"
              aria-hidden="true"></i></button>
        </td>
      </tr>
  </table>
</div>