<div class="title-group">
    <h1 class="mat-h1">Add new person</h1>
  </div>
  <hr>
  <div class="container">
    <form (ngSubmit)="addPerson()" class="row">
      <div class="mb-3 col-md-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="dataPerson.name">
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Year Old</label>
        <input type="number" class="form-control" placeholder="XXXX" name="year" [(ngModel)]="dataPerson.year">
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Birthday</label>
        <input type="date" class="form-control" name="date" [(ngModel)]="dataPerson.date">
      </div>
      <fieldset class="form-gruop">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Civil Status</legend>
          <div class="col-sm-6 custom-select mr-sm-2">
            <select class="form-select" name="status" [(ngModel)]="dataPerson.status">
              <option hidden >Choose...</option>
              <option>Single</option>
              <option>Married</option>
              <option>Widower</option>
              <option>None</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
          <div class="col-sm-10">
            <div class="form-check" name="gender">
              <input class="form-check-input" type="radio" name="gridRadios" value="Man" [(ngModel)]="dataPerson.gender" [checked]="true" >
              <label class="form-check-label" for="gridRadios1">
                Man
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" value="Woman" [(ngModel)]="dataPerson.gender">
              <label class="form-check-label" for="gridRadios2">
                Woman
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="mb-3 form-check col-md-6">
        <input type="checkbox" class="form-check-input" onchange="document.getElementById('aceptSubmit').disabled = !this.checked;"/>
        <label class="form-check-label">Check me out</label>
      </div>
      <div class="btn-group" role="group">
        <input type="submit" class="btn btn-outline-success m-1 btn-sm" name="sendNewSms" id="aceptSubmit" disabled />
        <input type="button" class="btn btn-outline-info m-1 btn-sm" onclick="this.form.reset();" value="Clean">
      </div>
    </form>
  </div>
  <hr>
  
  <hr>
  <button type="button" class="btn btn-secondary mt-2" (click)="back()">Go Back to list</button>